.card {
    border: 0;
    background: transparent;
    height: 100%;
}

.btn-contact {
    border-radius: 30px;
    background: #2c2865;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15041d", endColorstr="#21072e", GradientType=1);
    color: #f4f4f4;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-color: #2c2865;
}

.btn-contact:hover {
    background-color: #2c2865;
    color: #f4f4f4;
    border-color: #2c2865;
}

.navbar-nav li.active > a {
    color: #15041d !important;
    text-decoration: none !important;
}

.navbar-nav .nav-item a:hover {
    color: #2c2865 !important;
    transition: background 0.3s ease-in;
    text-decoration: none !important;
}

.primary-text {
    color: #2c2865 !important;
}

.navbar-light .navbar-toggler {
    border: none;
}