.card {
    border: 0;
    background: transparent;
    height: 100%;
}

.btn-contact {
    border-radius: 30px;
    background: rgb(21, 4, 29);
    background: -moz-linear-gradient(319deg, rgba(21, 4, 29, 1) 0%, rgba(33, 7, 46, 1) 100%);
    background: -webkit-linear-gradient(319deg, rgba(21, 4, 29, 1) 0%, rgba(33, 7, 46, 1) 100%);
    background: linear-gradient(319deg, rgba(21, 4, 29, 1) 0%, rgba(33, 7, 46, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15041d", endColorstr="#21072e", GradientType=1);
    color: #f4f4f4;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-contact:hover {
    background-color: #4CAF50; /* Green */
    color: #f4f4f4;
}

.navbar-nav li.active > a {
    color: #15041d !important;
    text-decoration: none !important;
}

.navbar-nav .nav-item a:hover {
    color: #15041d !important;
    transition: background 0.3s ease-in;
    text-decoration: none !important;
}

.primary-text {
    color: #15041d !important;
}

.navbar-light .navbar-toggler {
    border: none;
}