#hero-section {
    padding-top: 10%;
    padding-bottom: 15%;
}


#hero-section::after {
    content: "";
    background-image: url("../images/coding.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about-section, #contact-section {
    background: rgb(36,51,76);
    background: radial-gradient(circle, rgba(36,51,76,1) 25%, rgba(31,42,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15041d", endColorstr="#21072e", GradientType=1);
}

#tech-section h1 {
    color: #24334c;
}

#tech-section .tech-text {
    padding-top: 15%;
    padding-bottom: 15%;
    -webkit-filter: drop-shadow(-1px 0px 35px rgba(0, 0, 0, 0.55));
    filter: drop-shadow(-1px 0px 35px rgba(0, 0, 0, 0.55));
}

#tech-section .tech-text p {
    color: #343a40;
}

#tech-section::after {
    content: "";
    background-image: url("../images/trading.jpg");
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about-section, #contact-section, h1, h2, h3, h4, h5, i, p, address {
    color: #f4f4f4;
}

#about-section {
    padding-top: 15%;
    padding-bottom: 16%;
}

#hero-section p {
    color: #343a40;
}

#tech-section i {
    font-size: 7em;
}

#tech-section .mt-img {
    width: 112px;
    height: 112px;
}

#tech-section .up-img {
    width: 130px;
    height: auto;
    margin-top: 35%;
}

#contact-section .contact-text {
    padding-top: 8.5%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-top: 50px;
    height: 0;
    -webkit-box-shadow: -1px 0px 50px -2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -1px 0px 50px -2px rgba(0, 0, 0, 0.55);
    box-shadow: -1px 0px 50px -2px rgba(0, 0, 0, 0.55);
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#footer-section {
    padding: 0;
}

#footer-section i {
    color: #24334c;
}

/*Phones */

@media only screen and (max-width: 600px) {

    #tech-section .tech-text p {
        text-align: center;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }

    #navbar-logo {
        width: 150px;
        height: 30px;
    }

    #footer-section img {
        width: 50%;
    }
}

/*tablets*/

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

    #tech-section .tech-text p {
        text-align: left;
    }

    #tech-section .up-img {
        margin-top: 15%;
    }

}

/*PCs*/

@media screen
and (min-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 1) {

    .intro-container {
        margin-top: 15%;
    }

    #tech-section .tech-text {
        width: 75%;
        text-align: right;
    }


    .card {
        height: 100%;
    }
}
